<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Health Pro</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>
<body>
<h1><center>Welcome to HealthPro Application</center></h1>
<p>This Application contains the list of Doctors profile,Patients Record and Pharmacy details.</p>
<!--<ol>-->
    <!--<p>Please click the below link for the Doctors profile</p>-->
   <!--<p> <a href="http://localhost:8080/show/doctorsprofile/"target="_blank">DoctorsProfile</a></p>-->
    <!--<p>Please click the below link for the Pharmacy List</p>-->
    <!--<p><a href="http://localhost:8080/showAll/"target="_blank">Pharmacy List</a></p>-->
    <!--<p>Please click the below link for the Pharmacy Details</p>-->
    <!--<p><a href="http://localhost:8080/show/detail/"target="_blank">Pharmacy Details</a></p>-->
    <!--<p>Please click the below link for the Patients Details</p>-->
    <!--<p><a href="http://localhost:8080/show/patientsrecord/"target="_blank">Patients Record</a></p>-->
<!--</ol>-->
<div><p class="my-5">
    <a href="http://localhost:8080/show/doctorsprofile/" class="btn btn-primary">
        <i class="fas fa-user-plus ml-2"> Show Doctors Profile </i></a>
</p></div>
<div><p class="my-5">
    <a href="http://localhost:8080/showAll" class="btn btn-primary">
        <i class="fas fa-user-plus ml-2"> Show Pharmacy List </i></a>
</p></div>
<div><p class="my-5">
    <a href="http://localhost:8080/show/detail/" class="btn btn-primary">
        <i class="fas fa-user-plus ml-2"> Online Pharmacy Store </i></a>
</p></div>
<div><p class="my-5">
    <a href="http://localhost:8080/show/patientsrecord/" class="btn btn-primary">
        <i class="fas fa-user-plus ml-2"> Show Patients Record</i></a>
</p></div>
<div><p class="my-5">
    <a href="http://localhost:8080/show/appointments/" class="btn btn-primary">
        <i class="fas fa-user-plus ml-2"> Show Appointments</i></a>
</p></div>
<div><p class="my-5">
    <a href="http://localhost:8080/make/appointments/" class="btn btn-primary">
        <i class="fas fa-user-plus ml-2"> Make Appointment</i></a>
</p></div>
<div><p class="my-5">
    <a href="http://localhost:8080/show/patientshistory/" class="btn btn-primary">
        <i class="fas fa-user-plus ml-2"> Show Patients History</i></a>
</p></div>
<div><p class="my-5">
    <a href="http://localhost:8080/show/doctorshistory/" class="btn btn-primary">
        <i class="fas fa-user-plus ml-2"> Show Doctors History</i></a>
</p></div>
</body>
</html>