<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Appointments</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>
<body>
<h1><center>Appointments</center></h1>
    <div class="card">
        <div class="card-body">
            <form action="#" th:action="@{/save/appointments/}" th:object="${show_appointments}" method="post">
                <div>
                    <label>Name</label>
                    <input type="text" th:field="*{name}" id="name" placeholder="Name" class="form-control"/>
                </div>

                <div>
                    <label>Age</label>
                    <input type="text" th:field="*{age}" id="age" placeholder="Age" class="form-control"/>
                </div>
                <div><label>Gender: </label></div>

                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" th:field="*{gender}" name="inlineRadioOptions" id="inlineRadio1" value="Male">
                    <label class="form-check-label" for="inlineRadio1">Male</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" th:field="*{gender}" name="inlineRadioOptions" id="inlineRadio2" value="Female">
                    <label class="form-check-label" for="inlineRadio2">Female</label>
                </div>
                <div>
                    <label>Address</label>
                    <input type="text" th:field="*{address}" id="address" placeholder="Address,City,Country" class="form-control"/>
                </div>
                <div>
                    <label>Contact</label>
                    <input type="text" th:field="*{contact}" id="contact" placeholder="Contact" class="form-control"/>
                </div>
                <div>
                    <label>Consulting Doctor :</label>
                    <input type="text" th:field="*{doctor}" id="doctor" placeholder="Name of the  Consulting doctor" class="form-control"/>
                </div>
                <div>
                    <label>Disease/Appointment for</label>
                    <input type="text" th:field="*{disease}" id="disease" placeholder="Disease/Appointment for" class="form-control"/>
                </div>

                <div>
                    <label>Date of Appointment:</label>
                    <input type="text" th:field="*{date}" id="date" placeholder="Date" class="form-control"/>
                </div>
                    <div>
                        <label>Appointment Time:</label>
                        <input type="text" th:field="*{time}" id="time" placeholder="Time" class="form-control"/>
                    </div>
                <div>
                    <input type="submit" value="Submit">
                </div>
                <div>
                <input type="hidden" id="id" th:field="*{id}">
                </div>
            </form>

        </div>
    </div>
</div>
<!--<label th:text="${pharmacy_name.name}"></label>-->
<!--<label th:text="${pharmacy_name.city}"></label>-->

</body>
</html>