<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Pharmacy</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>
<body>
<h1>Pharmacy List</h1>
<div class="container my-2">
    <div><p class="my-5">
        <a href="/edit" class="btn btn-primary">
            <i class="fas fa-user-plus ml-2"> Add Pharmacy </i></a>
    </p></div>
    <div class="card">
        <div class="card-body">
            <table class="table table-striped table-responsive-md">
                <thead>
                    <th>Id</th>
                    <th>Name</th>
                    <th>City</th>
                    <th>Edit</th>
                    <th>Delete</th>




                </thead>
                <tbody>
                    <tr th:each="pharmacy : ${pharmacies}">
                        <td th:text="${pharmacy.id}"></td>
                        <td th:text="${pharmacy.name}"></td>
                        <td th:text="${pharmacy.city}"></td>

                        <td><a th:href="@{/edit/{id}(id=${pharmacy.id})}"><i class="fas fa-user-edit ml-2"></i></a></td>
                        <td><a th:href="@{/delete/{id}(id=${pharmacy.id})}"><i class="fas fa-user-times ml-2"></i></a></td>

                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>
<!--<label th:text="${pharmacy_name.name}"></label>-->
<!--<label th:text="${pharmacy_name.city}"></label>-->


</body>
</html>